static/images/match.jpg
static/images/WhatsApp Image 2023-02-18 at 3.34.29 PM (1).jpeg
__pycache__
.gitignore
__pycache__/model.cpython-38.pyc
*.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.pyc
