<!doctype html>
<html lang="en">
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4431721269722337"
     crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7PQRHWGLGE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7PQRHWGLGE');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https:1//cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="static/style.css" rel="stylesheet">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@500&family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@500;700&family=Righteous&display=swap" rel="stylesheet">


    
  <title>RoastMe</title>

  </head>
    <body class="bg-custom text-white">
    <header style="margin-bottom: 50px;">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- <a class="navbar-brand" href="#">RoastMe</a>   -->
        <img class="header-img" src="static/roastme.gif" href="index.html" alt="reddit logo with burning eyes" style="margin-top: -15px; margin-bottom: -8px; height: 90px;" />
      </nav>
    </header>

      <div class="container">
        <h4 class="text-center">
          Privacy Policy
        </h4>
        <p class="text-center">
          Last updated: 2023-04-05
        </p>
        <p>
          This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.
      </div>
      <div class="container" style="margin-bottom:100px">
        <p class="text-left">
          Thank you for visiting RoastMe website. At RoastMe, we take your privacy seriously. This Privacy Policy describes the types of information we collect from you, how we use that information, and the circumstances under which we may disclose that information to others. By using our website, you agree to the terms and conditions of this Privacy Policy.<br>

          <br>Information We Collect<br>

          When you visit our website, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse our website, we collect information about the individual web pages or products that you view, what websites or search terms referred you to our website, and information about how you interact with our website.<br>

          We collect personal information from you when you voluntarily submit it to us. For example, if you choose to sign up for our newsletter, we will collect your email address.<br>

          <br>Use of Information<br>

          We use the information we collect to provide, maintain, and improve our website and services. We may also use the information we collect to personalize your experience, to communicate with you, and to provide you with promotional materials.<br>

          We do not sell, trade, or rent your personal information to third parties. We may share your personal information with trusted third-party service providers who assist us in operating our website and services, conducting our business, or providing you with promotional materials. These third parties are required to keep your information confidential and are not permitted to use your personal information for any other purpose.<br>

          We may also disclose your information in the following circumstances: (1) to comply with applicable laws or regulations; (2) to respond to a subpoena, search warrant, or other lawful request for information we receive; (3) to protect our rights; (4) to protect the safety of others, including our users; and (5) to investigate or prevent fraud.<br>

          <br>Security<br>

          We take reasonable measures to protect the information we collect from you against unauthorized access, disclosure, alteration, or destruction. However, we cannot guarantee that the information will be completely secure.<br>

          <br>Cookies<br>

          We use cookies to collect information about your use of our website. Cookies are small data files that are stored on your device when you visit our website. They allow us to recognize your browser and remember certain information. You can choose to disable cookies through your browser settings.<br>

          <br>Third-Party Websites<br>

          Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these websites.<br>

          <br>Children<br>

          Our website is not intended for children under the age of 13. We do not knowingly collect personal information from children under 13. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us immediately.<br>

          <br>Changes to this Privacy Policy<br>

          We reserve the right to modify this Privacy Policy at any time. If we make material changes to this Privacy Policy, we will notify you by posting the updated policy on our website.<br>

          <br>Contact Us<br>

          If you have any questions about this Privacy Policy, please contact us at nizarhaider@gmail.com.
        </p>
      </div>
  <footer style="background-color: #770a0a; color: #fff; text-align: center; position: fixed; bottom: 0; padding: 10px;  width: 100%;">
    <div class="container">
      <div class="row new">
        <div class="col new">
          <p style="margin: 0;">&copy; RoastMe 2023. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="static/scripts.js"></script>
    </body>
</html>
